<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig mustMatch="true" logFile="C:\Temp\Shared\proxy_logs\auth_proxy.log">
  <serverUrls>
   <!-- Examples
    <serverUrl url="http://route.arcgis.com/arcgis/rest"
            username="JohnDoe"
            password="abc123"
            matchAll="true">
      </serverUrl>
      <serverUrl url="https://myserver/myapp/index.html"
           matchAll="true"
           oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
           clientId="SAISIR ICI L'ID DE L'APPLI"
           clientSecret="SAISIR ICI LA CLE SECRETE"
           rateLimit="50"
           rateLimitPeriod="10">
      </serverUrl> -->

      <serverUrl url="http://testv3.arcopole.fr:6080/arcgis/rest/services/" matchAll="true"></serverUrl>
      <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer" matchAll="true"></serverUrl>
	  <serverUrl url="http://tasks.esrifrance.fr/arcgis/rest/services/" matchAll="true"></serverUrl>
	  <serverUrl url="http://services.arcgis.com/d3voDfTFbHOCRwVR/arcgis/rest/services/" matchAll="true"></serverUrl>
      <serverUrl url="http://route.arcgis.com/arcgis/rest/" matchAll="true"
          clientId="xxxxxxxxx"
          clientSecret="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
          rateLimit="10"
          rateLimitPeriod="3"
          ></serverUrl>
      <serverUrl url="http://server.arcgisonline.com/ArcGIS/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/" matchAll="true"></serverUrl>
      <serverUrl url="http://js.arcgis.com" matchAll="true"></serverUrl>
	  <serverUrl url="http://static.arcgis.com/" matchAll="true"></serverUrl>

  </serverUrls>
</ProxyConfig>
